body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: Oxygen;
  background-color: #b2dfdb;
}

/* navbar */
.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

/* sidebar */
.sidebar {
  width: 200px;
  background-color: #26a69a;
  padding: 20px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

/* content in pages */
.content {
  text-align: center;
  margin-left: 220px;
  padding: 20px;
}

/* buttons */
#start-btn, .answer-popup-btn {
  font-family: Cantarell;
  background-color: #004d40;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#start-btn:hover, .answer-popup-btn:hover {
  background-color: #0056b3;
}

#start-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* popups */
.popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.popup-box {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* answer grid */
.answer-grid {
  border-collapse: collapse;
}

.answer-grid-cell {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}

/* grid cells */
.black-cell {
  background-color: black;
}

.white-cell {
  background-color: white;
}

/* game table */
.table-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.selected-row {
  background-color: #e6f7ff;
}

.game-table {
  width: 80%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: center;
  position: center;
}

.game-table th, .game-table td {
  padding: 12px 15px;
}

.game-table thead {
  background-color: #f4f4f9;
  color: #333;
}

.game-table tr:hover {
  background-color: #e6f7ff;
  cursor: pointer;
}

.game-table th {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}

.game-table td {
  border-bottom: 1px solid #ddd;
}

.game-table td:first-child, .game-table th:first-child {
  text-align: center;
}